.slide-para-content{
  
  text-align: center;
  margin-top: 10px;
  color: #000000;
}
.slide-link{
  text-decoration: none;

}
.slider-text-main-container{
    width: 100%;
    min-height: 70vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    

}
.slider-container{
    width: 65%;
     max-height: 400px; 
}

.slider-image{
    width: 90%;
    height: auto;
    max-height: 400px;
    margin: 0 auto;
  display: block;
}

.swiper-button-prev {
  left: 8%;  
  width: 30px;
  height: 30px;
}

.swiper-button-next {
  right: 8%; 
  width: 30px;
  height: 30px;
}
.swiper-button-next::after,
.swiper-button-prev::after{
  font-size: 30px;
}

.rti-join-buttons-activist-reporter-citizen-container{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height:360px;
}

.reporter-button{
  background-color: #1A71B6;
  width: 60%;
  height: 90px;
  border: none;
 cursor: pointer;
  color: #FFFFFF;
  font-weight: 800;
  font-family: "Inter";
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 25px !important;
}

.slider-top-rti-join-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0px;
  /* margin: 20px; */
}

.spot-light-home-adds-container{
  display: flex;
  align-items: center;
  width: 100%;
}

.add-banner-image-home-1{
  
  width:100%;
   height: 500px ;
   max-width: 100%;
    max-height: 400px;
    margin-bottom: 10px;
    
}

.adds-size-container-home{
  width: 25%;
}

.spot-light-home-container{
   width: 50%;
    
} 
.latest-news-heading{
  background-color: #007BFF;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
    height: 40px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
   margin: 30px 0px 20px 250px;
   clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0 100%);
   border-radius: 10px;
}

.recent-posts-heading{
  margin: 20px 0px 20px 25px;
}


.home-popular-news-container{
  width: 100%;
  margin-left: 40px;
    margin-top: 20px;
}

.taja-updates-heading{
  margin-left: 70px;
}
 .swiper-pagination {
    text-align: center !important; /* center the dots */
    margin-top: 8px; /* space between text and dots */
    position: relative !important;   /* ensures it aligns properly */

  }
  .swiper-pagination-bullet {
    background: #888;
    opacity: 0.6;
    margin: 0 4px;
  }
  .swiper-pagination-bullet-active {
    background: #333;
    opacity: 1;
    width: 20px;
    border-radius: 8px;
  }



@media (max-width:575px){
  .taja-updates-heading{
    margin-left: 5px;
  }
  .taja-varathalu{
    font-size: 22px;
  }
  .slider-container .swiper-pagination{
    display: none;
    /* display: flex;
    position: relative !important;   /* ensures it aligns properly */
  /* text-align: center !important;  */
   
    
  }
  .rti-join-and-news-letter-container{
    display: none;
  }
  .slider-container{
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .slider-image{
    width: 100%;
    max-height: 200px;
    margin: 0 auto;
 }
 .slider-container .swiper-button-next::after,
.slider-container .swiper-button-prev::after{
  font-size: 20px !important;
}
.slider-container .swiper-button-next{
  /* right: 10px !important; */
  display: none;
}
.slider-container .swiper-button-prev{
  /* left: 10px !important; */
    display: none;

}
/* .home-spot-light-adds-container{
  display: flex;
  flex-direction: column;
} */

.home-spot-light-popular-news-adds-container{
  display: flex;
  flex-direction: column;
}
.spot-light-popular-news-container{
  width: 100%;
}

.spot-light-home-container{
  width: 100%;
  margin-top: 0px;
  margin-left: 5px;
}
/* .home-popular-recent-posts-conatiner{
  display: flex;
  flex-direction: column;
} */

.home-popular-news-container{
  width: 100%;
  margin-left: 5px;
}
}

@media (min-width:576px) and (max-width:767px){
 .slider-container .swiper-pagination{
    display: none;
  }
  .rti-join-and-news-letter-container{
    display: none;
  }
  .slider-container{
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .slider-image{
    width: 89%;
    max-height: 250px;
    margin: 0 auto;
 }
  .slider-container .swiper-button-next::after,
.slider-container .swiper-button-prev::after{
  font-size: 25px;
}
.slider-container .swiper-button-next{
  right: 5%;
}
.slider-container .swiper-button-prev{
  left: 5%;
}
/* .home-spot-light-adds-container{
  display: flex;
  flex-direction: column;
} */

.home-spot-light-popular-news-adds-container{
  display: flex;
  flex-direction: column;
}
.spot-light-popular-news-container{
  width: 100%;
}


.spot-light-home-container{
  width: 100%;
  margin-top: 10px;
  margin-left: 5px;
}
/* .home-popular-recent-posts-conatiner{
  display: flex;
  flex-direction: column;
} */
.home-popular-news-container{
  width: 100%;
  margin-left: 5px;
}
.taja-varathalu{
    font-size: 20px;
    margin-top: 15px;
  }
  .taja-updates-heading{
    margin-left: 5px;
  }
}

@media (min-width:768px) and (max-width:991px){
 .slider-container .swiper-pagination{
    display: none;
  }
  .slider-container{
    width: 60%;
    text-align: center;

  }
  .slider-image{
    width: 90%;
    height: 260px;
    margin: 0 auto;
  }
  .slider-top-rti-join-container{
    display: flex;
   
  }
  .rti-join-and-news-letter-container{
   display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  
  
}
.rti-join-container{
 
  height: 130px;
  margin-bottom: 5px;
  width: 100%;
  padding-bottom: 15px;
}
.join-heading{
  
  font-weight: 600;
  font-size: 22px;
  padding: 10px;
}
.reporter-button{
  width: 60%;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  
}

.news-letter-container{
  width: 100%;
 
  height: 130px;
  margin-top: 5px;
  padding: 10px;
}
.daily-news-letter-heading{
 
  font-size: 18px;
  font-weight: 600;

}
.news-para{
  font-size: 15px;
  font-weight: 500;
}
.news-letter-mail-container{
  width: 80%;
}

.home-spot-light-popular-news-adds-container{
  display: flex;
  flex-direction: row;
}
.spot-light-popular-news-container{
  width: 75%;
}

.spot-light-home-container{
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
} 

/* .home-popular-recent-posts-conatiner{
  display: flex;
  flex-direction: column;
} */
.taja-updates-heading{
  margin-left: 15px;
  margin-top: 10px;
}
.taja-varathalu{
    font-size: 22px;
  }
.home-popular-news-container{
  width: 100%;
  margin-left: 15px;
  margin-top: 20px;
}
}

@media (min-width:992px) and (max-width:1199px){
 .slider-container .swiper-pagination{
    display: none;
  }

.slider-container{
    width: 70%;
    
}
.slider-image{
    width: 100%;
    height: auto;
    max-height: 360px;
    margin: 0 auto;
    display: block;
}
.slider-top-rti-join-container{
  width: 100%;
  
 
  
}
.rti-join-and-news-letter-container{
  width:30%;
  margin-left: 10px;
 
}
.rti-join-container{
  background-color: #1877F2B2;
  width: 98%;
  height: 180px;
}
.reporter-button{
  width: 70%;
  margin-bottom: 10px;
}
.news-letter-container{
  width: 98%;
  height: 180px;
  margin-top: 10px;
}
.news-para{
  font-size: 18px;
}
.news-letter-mail-container{
  font-size: 15px;
  width: 70%;
}
.home-spot-light-popular-news-adds-container{
  display: flex;
  flex-direction: row;
}
.spot-light-popular-news-container{
  width: 77%;
}


.spot-light-home-container{
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
} 
.home-popular-news-container{
  width: 100%;
  margin-left: 0px;
  margin-top: 20px;
}

.taja-updates-heading{
  margin-left: 15px;
  margin-top: 10px;
}
.recent-post-home-container{
  width: 100%;
}
}

@media (min-width:1200px){
  .slider-container{
   width: 65%;
   margin: 0 auto;
   position: relative;
  
}

.slider-image{
 width: 90%;
 height: auto;
 border-radius: 6px;
 max-height: 360px; 
display: block;
}

.swiper-button-next,
.swiper-button-prev{
   width: 30px;               
  height: 30px;              
  background-color:#F0F0F0; 
  color: black;              
        
  display: flex;
  align-items: center;       
  justify-content: center;   
  top: 50%;                  
  transform: translateY(-50%); 
  z-index: 10;
}

.swiper-button-next::after,
.swiper-button-prev::after{
   font-size: 20px;
  font-weight: bold;
}





.slider-top-rti-join-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70vh;
}

.reporter-button{
  width: 60%;
 

}

.spot-light-home-container{
    width: 75%;
    margin-left: 25px;
    margin-top: 0px;
} 
.home-spot-light-adds-container{
 
  width: 100%;

}


.taja-updates-heading{
  margin-left: 10px;
  margin-top: 12px;
}

.taja-varathalu{
  margin-left: 10px;
  font-size: 22px;
  margin-bottom: 10px;
}
.home-spot-light-popular-news-adds-container{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.spot-light-popular-news-container{
  width: 80%;
}
.spot-light-home-container{
    width: 100%;
    margin-left: 25px;
    margin-top: 0px;
} 
.home-popular-news-container{
  width: 100%;
 margin-left: 25px;
  margin-top: 20px;
}

.recent-post-home-container{
  width: 100%;
 margin-left: 25px;
 margin-top: 0px;
}

}