.slider-text-main-container{
    width: 100%;
    min-height: 70vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    

}
.slider-container{
    width: 80%;
    margin: 15px;
    align-self: center;
    
    
}
.slider-image{
    width: 100%;
    height:auto;
}