.recent-posts-unordered-container{
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 70px;

}
.list-item-recent-post{
    display: flex;
    flex-direction: row;
    align-items: center;
     margin: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
   padding: 15px;
   border-radius: 5px; 
   height: 100px;
   
}
.recent-post-image{
    width: 150px;
    height: 100px;
}
.recent-posts-para{
    font-size: 14px;
    margin-left: 5px;

}
.recent-post-link-element{
     display: flex;        
  align-items: center;
  gap: 10px;            
  text-decoration: none;
  color: inherit;
}

@media (max-width:375px){
    .recent-posts-unordered-container{
        margin-left: 5px;
    }
    .list-item-recent-post{
        height: 120px;
    }
    .recent-post-image{
        width: 100px;
        height: 100px;
    }
}


@media (max-width:575px){
    .recent-posts-unordered-container{
        margin-left: 5px;
    }
}

@media (min-width:576px) and (max-width:767px){
    .recent-posts-unordered-container{
        margin-left: 5px;
    }
    .recent-post-image{
    width: 150px;
    height: 100px;
}
.list-item-recent-post{
    max-height: 200px;
}
.recent-posts-para{
    font-size: 15px;
}
}

@media (min-width:768px) and (max-width:991px){
    .recent-posts-unordered-container{
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    .list-item-recent-post{
        display: flex;
        flex-direction: column;
        height:130px;
        width: 48%;
    }
    .recent-post-link-element{
        display: flex;
        flex-direction: row;
    }
    .recent-post-image{
    width: 85%;
    height: 80px;
}
.recent-posts-para{
    font-size: 15px;
    

}
}

@media (min-width:992px) and (max-width:1199px){
.recent-posts-unordered-container{
   margin-top: 10px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.list-item-recent-post{
    width: 48%;
    height: 120px;
  margin-top: 10px;
}

.recent-posts-para{
    font-size: 15px;
    margin-left: 5px;

}

}

@media (min-width:1200px){
   .recent-posts-unordered-container{
   margin-left:0px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
} 
.list-item-recent-post{
  width: 35%;
  margin: 5px;
  padding: 5px;
  height: 80px;
  
}
.recent-post-image{
    width: 30%;
    height: 80px;
}
.recent-posts-para{
    font-size: 12px;
}
.recent-post-link-element{
    display: flex;
    flex-direction: row;
}
}