

.legal-Information-conatiner{
    display: flex;
    flex-direction: column;
  
     background-color: #ffffff;
 
     border-radius: 15px;
     border: 1px solid #E0E0E0;
    padding: 40px 50px;
    width: 98%;
    margin: 30px auto;
    
    
}
.legal-Information-conatiner h2{
  
    color: #000000;
    margin-bottom: 10px;
}
.legal-content-inside-container p{
      
    /* color: #333333;
     */
    color: #000000;
    margin-top: 10px;
    margin-bottom: 5px;
   
}
.strong-elelment-legal{
    margin-left: 5px;
}