/* .legal-Information-conatiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    margin: 10px auto;

}

@media (max-width:767px){
    .legal-Information-conatiner{
        width: 50%;
    }
} */


.legal-Information-conatiner{
    display: flex;
    flex-direction: column;
   /* align-items: center;
    justify-content: center; */
     background-color: #ffffff;
     /* margin: 20px; */
     border-radius: 15px;
     border: 1px solid #E0E0E0;
    padding: 40px 50px;
    width: 98%;
    margin: 30px auto;
    
    
}
.legal-Information-conatiner h2{
  
    color: #000000;
    margin-bottom: 10px;
}
.legal-content-inside-container p{
      
    /* color: #333333;
     */
    color: #000000;
    margin-top: 10px;
    margin-bottom: 5px;
   
}
.strong-elelment-legal{
    margin-left: 5px;
}