/* .unordered-international-news-container{
    list-style-type: none;
    background-color: white;
    margin: 15px;
   border: 1px solid #E0E0E0;
  padding: 30px;
  border-radius: 20px;
  display: flex;
 flex-direction: row;
  flex-wrap: wrap;
}

.international-card-list-item{
 background-color: #FFFFFF;
  border-radius: 8px;
  padding: 16px 20px;
  margin: 8px;
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #EAEAEA;
  
}
.international-image{
    width: auto;
    height: 100px;
}
.international-news-item-text{
    text-align: center;
    margin-top: 10px;
} */