.add-banner-img{
    width: 400px;
    height: 215px;
    margin: 5px;
}
.adds-banner-container{
    display: flex;
    flex-direction: column;
    margin-right: 55px;
    width: 100%;
}

@media (max-width:375px){
    .adds-banner-container{
        margin: 5px;
        width: 100%;
    }
    .add-image1{
        width: 0px;
    }
    .add-image2{
        width: 60px;
    }
}

@media (max-width:575px){
    .adds-banner-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 5px;
    }
    .add-banner-img{
        width: 250px;
        height: 150px;
    }
}

@media (min-width:576px) and (max-width:767px){
    .adds-banner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px;
    width: 100%;
  }

  .add-banner-img {
    width: 45%;
  }
}