.Header-container{
    background-color: #1877F2;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-sizing: border-box;
     z-index: 1;
}

#home{
    color: #FFFFFF;
}

#home:hover{
    
    color: #FF69B4;
}

@media (min-width:768px)  and (max-width:991px){
    #home{
        font-size: 12px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;   
    }
    
}

@media (min-width:992px)  and (max-width:1199px){
    #home{
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;   
    }
    
}