.footer-main-container{
    background-color: #F2F2F2;
    margin-top: 10px;
    padding:25px;
  
}
.footer-info-containerss{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.website-info-in-footer{
    width: 24%;
}

.footer-image-logo{
    width: 50%;
    height: auto;
}
.website-info-in-footer p{
    /* color: #DDEEFF; */
    
    font-size: 16px;
    font-weight: 400;
   
}
.company-name-heading{
    /* color: #FFFFFF;
     */
     
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.company-container p{
    /* color: #DDEEFF; */

    font-size: 14px;
    
    margin-bottom: 8px;
    white-space: normal;
word-break: break-word;
overflow-wrap: break-word;
}
.company-container Link{
    color: black;
}

.company-container a{
    text-decoration: none;
    color: black;
}
.company-container{
 width: 19%;


}
/* .legal-heading{
     color: #FFFFFF; 
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.legal-info-conatiner{
    width: 26%;
    margin: 0 auto;
} 

.legal-info-conatiner p{
     color: #DDEEFF;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 8px;
    white-space: normal;
word-break: break-word;
overflow-wrap: break-word;
}

*/

.horizontal-line{
    /* background-color: #DDEEFF; */
    background-color: black;
    height: 1px;
    border: none;
}
.copy-right-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    /* color: #DDEEFF; */
    margin-top: 10px;
    font-size: 14px;
}

.copy-right-logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.copy-righ-icon{
    margin-bottom: 6px;
}
@media (max-width:375px){
    .company-container{
        width:100%;
        margin-top: 10px;
    }
    .website-info-in-footer{
        width: 100%;
    }
    .copy-right-container p{
    margin-left: 0px;
    margin-right: 0px;

}
.legal-info-conatiner{
    width: 100%;
    margin-top: 10px;
}
.copy-right-container{
    display: flex;
    flex-direction: column;

}
.footer-image-logo{
    width: 30%;
}
}

@media (min-width:376px) and (max-width:767px) {
    .company-container{
        width:50%;
        margin-top: 10px;
    }
    .website-info-in-footer{
        width: 50%;
    }
    .copy-right-container p{
    margin-left: 0px;
    margin-right: 0px;

}
.legal-info-conatiner{
    width: 100%;
    margin-top: 10px;
}
.copy-right-container{
    display: flex;
    flex-direction: column;
}
.footer-image-logo{
    width: 30%;
}
}