.footer-main-container{
    background-color: #1877F2;
    margin-top: 10px;
    padding: 25px;
    display: flex;
    
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.website-info-in-footer{
    width: 30%;
}

.footer-image-logo{
    width: 35%;
}
.website-info-in-footer p{
    color: #DDEEFF;
    font-size: 16px;
    font-weight: 400;
}
.company-name-heading{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.company-container p{
    color: #DDEEFF;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 8px;
}
.company-container a{
    text-decoration: none;
}
.company-container{
 width: 23%;

}
.horizontal-line{
    background-color: #DDEEFF;
    height: 1px;
    border: none;
}
.copy-right-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #DDEEFF;
    margin-top: 10px;
}
.copy-right-container p{
    margin-left: 15px;
    margin-right: 10px;

}
.copy-right-logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.copy-righ-icon{
    margin-bottom: 6px;
}
@media (max-width:600px) {
    .company-container{
        width:100%;
    }
    .website-info-in-footer{
        width: 100%;
    }
    .copy-right-container p{
    margin-left: 0px;
    margin-right: 0px;

}
.copy-right-container{
    display: flex;
    flex-direction: column;
}
}