/* .add-banner-images{
  width: 100%;
  height:250px;
} */

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Noto Sans Telugu' !important;

}
html,body{
overflow-x: hidden;
}
.drop-down-container{
    background-color: transparent;
    border: none;
    outline: none;
    
}

.app-container{
  display: flex;
  flex-direction: column;
  min-height:100vh;
  width: 100%;
}

.top-container{
  background-color: #D9D9D9;
 
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.email-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 4px
  ;
}
.website-mail{
  font-size: 18px !important;
 font-weight: 600;
 margin-bottom: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 5px;
}

.top-left-side-text-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.text{
  
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  height: 24px;
  line-height: 24px;
  color: #000000;
}


.symbol{
  margin-right: 10px;
}
.logo-rti-express{
  width: 140px;
  height: 60px;
  margin-top: 12px;
 
}
.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 12px;
  
}
.bg-color-container{
  background-color: #D9D9D9;
  width: 45%;
  height: 80px;
   
}
.map-form-container{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
/* .map-container{ */
/* background-image: url("https://res.cloudinary.com/dqdx0yz2t/image/upload/v1752493253/apmap1_lfev8g__1_1752493150-removebg-preview_lhxh1y.png"); */
  /* min-height: 100vh; */
  /* back///ground-size: contain; */
  /* margin-bottom: 20px; */
  /* width: 100%; */
   /* background-pos/ition: top center; */
  /* background-repeat: no-repeat; */
  /* z-index: 0; */
  /* margin-top: 20px; */

  /* margin-left: auto; */
   /* margin-right: auto;  */
  /* display: block; */
/* }  */

.form-main-container{
  
   
  
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.early-access-heading{
  font-family: "Poppins";
  font-weight: 600;
  font-size: 26px;
  color:  #222;
}
.signup-para{
  font-family: "Poppins";
  font-weight: 900;
  font-size: 24px;
  color: #1877F2;
}
.coming-soon{
  font-family: "Poppins";
  font-size: 24px;
  color:	#A020F0 ;
  font-weight: bold;
}
.toggle-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}
.language{
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 400;
  color: #000000;
}
.social-media-icon{
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}
.feedback{
  margin-right: 5px;
}
.facebook{
  color:	#1877F2;
}
.insta{
  color: 	#E4405F;
}
.youtube{
  color: #FF0000;
}
.linkedin{
  color: #0A66C2;
}
.twitter{
  color: #1DA1F2;
}
.map-icon{
  color: #3B82F6;
}
/*Extra small device*/
@media (max-width:575px) {
  .map-container{
   background-position:center;
    margin-left: auto;
   margin-right: auto;
   margin-top: 0px; 
  
   
  }
  .early-access-heading{
   font-size: 16px;
   font-weight: 400; 
  }
  .signup-para{
    font-size:16px ;
    font-weight: 600;
  }
  .coming-soon{
    font-size: 16px;
    font-weight: 600;
  }
  .top-container{
    display: none;
  }
  .logo-container{
    display: none;
  }
}

/*small devices*/
@media (min-width:576px) and (max-width:767px){
  .map-container{
   background-position:center;
    margin-left: auto;
   margin-right: auto; 
   margin-top: 0px;
  }
  .early-access-heading{
   font-size: 18px;
   font-weight: 500; 
  }
  .signup-para{
    font-size:18px ;
    font-weight: 700;
  }
  .coming-soon{
    font-size: 18px;
    font-weight: 700;
  }
  .top-container{
    display: none;
  }
  .logo-container{
    display: none;
  }
}
 /* medium device */
@media (min-width:768px) and (max-width:991px){
  .map-container{
   background-position:center;
    margin-left: auto;
   margin-right: auto; 
  }
  .early-access-heading{
   font-size: 24px;
   font-weight: 500; 
  }
  .signup-para{
    font-size:22px ;
    font-weight: 700;
  }
  .coming-soon{
    font-size: 24px;
    font-weight: 700;
  }
  .website-mail{
 
  
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
        
  line-height: 24px;
}
.text{
  font-weight: 600;
  font-size: 13px;
}
.language{
  font-size: 14px;
 
}
.logo-rti-express{
  width: 170px;
  height: auto;
}
.bg-color-container{
  
  width: 55%;
   
}

}

/*large devices (labtops)*/

@media (min-width:992px) and (max-width:1199px){
.map-container{
   background-position:top center;
    margin-left: auto;
   margin-right: auto; 
  }
  .early-access-heading{
   font-size: 30px;
   font-weight: 600; 
  }
  .signup-para{
    font-size:28px ;
    font-weight: 800;
  }
  .coming-soon{
    font-size: 26px;
    font-weight: 900;
  }
  .website-mail{
  
  
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
       
  line-height: 24px;
}
.text{
  font-weight: 600;
  font-size: 18px;
}
.language{
  font-size: 16px;
 
}

.logo-rti-express{
  width: 200px;
  height: auto;
}
.bg-color-container{
  
  width: 60%;
   
}

}

@media (min-width:1200px){
  .map-container{
   background-position:top center;
    margin-left: auto;
   margin-right: auto; 
  }
  .early-access-heading{
   font-size: 25px;
   font-weight: 600; 
  }
  .signup-para{
    font-size:25px ;
    font-weight: 800;
  }
  .coming-soon{
    font-size: 30px;
    font-weight: 900;
  }
  .website-mail{
  
  
  font-family: "Poppins";
  font-weight: 600;
  font-size: 22px;
        
  line-height: 24px;
}
.text{
  font-weight: 600;
  font-size: 15px;
}
.language{
  font-size: 18px;
 
}
.logo-rti-express{
 
  width: 300px;
  height: auto;
  
}
.bg-color-container{
  width: 50%;
}

}