*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.app-container{
  display: flex;
  flex-direction: column;
  min-height:100vh;
  
}

.top-container{
  background-color: #D9D9D9;
 
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.email-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.website-mail{
  width: 180px;
  height: 24px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 16px;
         /*  chnages sratsfrom here*/
  line-height: 24px;
}
.icon-email{
  width: 20px;
  height: 15px;
  margin-left: 2px;
}
.top-left-side-text-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.text{
  
  font-family: "Poppins";
  font-weight: 600;
  font-size: 15px;
  height: 24px;
  line-height: 24px;
  color: #000000;
}

.feedback{
 width: 81px;
 
  
}
.epaper{
   width: 58px;
 
 
  text-decoration: none;

}
.symbol{
  width: 5px;
  
  margin-right: 10px;
}
.logo-rti-express{
  width: 140px;
  height: 60px;
  margin-top: 12px;
 
}
.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin:15px;
}
.bg-color-container{
  background-color: #D9D9D9;
    width: 935px;
    height: 95px;
    margin-top: 12px;
   

}
.map-form-container{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 height: 100vh;
  width: 100%;
}
.map-container{
background-image: url("https://res.cloudinary.com/dqdx0yz2t/image/upload/v1752493253/apmap1_lfev8g__1_1752493150-removebg-preview_lhxh1y.png");
  min-height: 100vh;
  background-size: contain;
  margin-bottom: 50px;
  width: 100%;
   background-position: top center;
 background-repeat: no-repeat;
 
 z-index: 0;
 margin-top: 40px;
margin-bottom: 10px; 
}

.form-main-container{
  
   
  
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.early-access-heading{
  font-family: "Poppins";
  font-weight: 600;
  font-size: 26px;
  color:  #222;
}
.signup-para{
  font-family: "Poppins";
  font-weight: 900;
  font-size: 24px;
  color: #1877F2;
}
.coming-soon{
  font-family: "Poppins";
  font-size: 24px;
  color:	#A020F0 ;
  font-weight: bold;
}
.toggle-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}
.language{
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 400;
  color: #000000;
}
.rti-reporter-join{
  margin-left:10px;

}

