.Header-container{
    background-color: #1877F2;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-sizing: border-box;
     z-index: 1;
}

#home{
    color: #FFFFFF;
}